PassengerAppRoot /home/u429575031/domains/pexusol.rscacademy.com.br/nodejs
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile src/server.js
PassengerBaseURI /
PassengerRestartDir /home/u429575031/domains/pexusol.rscacademy.com.br/nodejs/tmp

SetEnv NODE_OPTIONS "--require /home/u429575031/domains/pexusol.rscacademy.com.br/public_html/.builds/config/preload-timestamp.js"
SetEnv LSNODE_CONSOLE_LOG console.log

RewriteEngine On
RewriteRule ^\.builds - [F,L]
