# Banco de Dados MySQL (XAMPP)
DATABASE_URL="mysql://root:@localhost:3306/usina_do_sol"

# JWT
JWT_SECRET="usina_do_sol_secret_2026_uneb_velho_chico"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3001
NODE_ENV=development

# Upload de Imagens
UPLOAD_DIR="uploads"
MAX_FILE_SIZE=5242880

# URL do Frontend (para CORS)
FRONTEND_URL="http://localhost:5173"
